/* Based on [Eric Meyer's reset](http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) Global reset rules.
 * For more specific resets, use the reset mixins provided below
 *
 * @note: tables still need `cellspacing="0"` in the markup
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	/* reset box model */ margin: 0; padding: 0; border: 0; outline: 0;
	/* reset font */ font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
}
body {
	/* reset body */ line-height: 1; color: black; background: white;
}
ol, ul {
	/* reset list style */ list-style: none;
}
table {
	/* reset table */ border-collapse: separate; border-spacing: 0; vertical-align: middle;
}
caption, th, td {
	/* reset table cell */ text-align: left; font-weight: normal; vertical-align: middle;
}
q, blockquote {
	/* reset quotation */ quotes: '' '';
}
q:before, blockquote:before {
    /* reset quotation */ content: '';
}
a img {
	/* reset image anchor border */ border: none;
}


img {
	vertical-align: bottom; /* make sure inline or inline-block images don't reserve extra space under them */
}


section, article, aside, header, footer, nav, dialog, figure {
	/* reset html5 */ display: block;
}


body {
	/* reset mobile WebKit */ -webkit-text-size-adjust: none;
}